<ion-content>
  <div class="largBox">
      <div class="smallBox">
          <ion-datetime *ngIf="useDate==0" [isDateEnabled]="isDateEnabled"  [presentation]="typeUs!=0 ? 'date' : 'date-time'" [showDefaultButtons]="true" doneText="{{ok}}" cancelText="{{cancel}}" mode='md' (ionCancel)="functionClosePage()" (ionChange)="selectDate($event)"></ion-datetime>
          <ion-datetime *ngIf="useDate==1" [presentation]="typeUs!=0 ? 'date' : 'date-time'" [showDefaultButtons]="true" doneText="{{ok}}" cancelText="{{cancel}}" mode='md' (ionCancel)="functionClosePage()" (ionChange)="selectDate($event)"></ion-datetime>
      </div>
  </div>
</ion-content>